
.nav-link{
   position: relative;
}
.nav-link:hover{
    text-decoration:none ; 
    border-bottom: 2px solid rgb(255, 0, 0);*/
  
}


.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 2px;
    width: 100px; 
    background-color:red;
    position: absolute;
    bottom: 0;
    left: 0;

}

.banner{
    margin-top: 90px;
}

.elementor img {

    max-width: 100%;
    position: relative;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
        align-content: flex-start;
    }


  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    align-content: center;
    align-items: center;
}


.coleer{
    color:rgb(255, 14, 14);

}
.hhi{
    text-align: center;
    padding: 150px 0;
}

.ENOSIS{
    margin-top: 30px;
}
/*---- Contact--------*/
.contact {
    background: #c0c4c9;
    padding: 50px 0 100px;
}
.single-contact-box {padding-top: 100px;}
.contact-form  .form-group {
    margin-bottom: 20px;
    
}
.contact-form .form-control {
    padding: 25px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 0px;
    box-shadow: none;
    outline: 0!important;
    background: #fffbfb;
    color: #3e518f;
    resize: none;
}

/*--contct button--*/



.contact-form .single-contact-btn {
    display:flex;
    align-items:center;
    justify-content:center;
    height:50px;
    text-transform:capitalize;
    margin-top: 3px;
    background:rgb(255, 14, 14);
    border: 1px solid rgb(255, 14, 14);
    cursor:pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
     -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
}
.contact-form .single-contact-btn .contact-btn ,
.contact-form .single-contact-btn .contact-btn:focus {
    margin-top:0px;
    outline: 0 !important;
    border:0;
    color: #fff;
    border-radius: 0px;
    font-size:14px;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
    text-decoration:none ; 
    
}
.single-contact-btn:hover{
    background:rgb(172, 8, 8);
    border: 1px solid rgb(116, 13, 13);
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}

/*--contct button--*/

/* contact-adress */
.contact-add-head h3 {
    font-size:  24px;
    color:  #3c4258;
}
.contact-add-head p {
    font-size:  16px;
    text-transform: capitalize;
    color:  #636a82;
    font-weight:  300;
    margin-top:  6px;
}
/* contact-adress */

/*.contact-add-info */
.contact-add-info { margin: 42px 0 52px;}
.single-contact-add-info h3 {
    color:  #3c4258;
    font-weight:  500;
}
.single-contact-add-info p {
    color:   #636a82;
    font-size:  16px;
    margin-top:  18px;
}
.single-contact-add-info {
    margin-bottom:  26px;
}
/*=================Thank you=============== */